[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
black = "==19.3b0"
bumpversion = "*"
coverage = "*"
flake8 = "*"
pytest = "*"
tox = "*"

[packages]
astropy = "*"
click = "*"
pandas = "*"
pillow = "*"
PyMySQL = "*"
python-dateutil = "*"
sentry-sdk = "*"
cryptography = "*"

[requires]
python_version = "3.7"
